h1 {
    color: rgb(175, 50, 175);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

h2 {
    color: rgb(5, 84, 89);
    text-align: left;
}

p {
    color: #3c32a8;
    text-align: left;
}

/* div {
    color: rgb(0, 0, 0);
    background-color: rgb(149, 67, 160);
    text-align: center;
    width: 80%;
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
    padding-top: 10px;
    border: 5px dotted rgb(255, 136, 215);
} */

#top {
    font-size: 36px;
    color: rgb(0, 0, 0);
    background-color: rgb(149, 67, 160);
    text-align: center;
    width: 98%;
    height: 50px;
    /*margin-left: 15px;*/
    margin-top: 15px;
    padding-top: 10px;
    border: 5px dotted rgb(255, 136, 215);
}

#middle {
    font-size: 24px;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 136, 255);
    text-align: center;
    width: 98%;
    height: 50px;
    /*margin-left: 15px;*/
    margin-top: 15px;
    padding-top: 10px;
    border: 5px dotted rgb(142, 46, 187);
}

.name {
    font-weight: bold;
}

ol > li {
    color: rgb(19, 80, 97);
}

ul {
    color: palevioletred;
}

input[type=text] {
    background-color: rgb(212, 107, 107);
    color: white;
}

input[type=number] {
    background-color: rgb(88, 88, 195);
}

input[name="username"] {
    background-color: rgb(172, 223, 97);
}

button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: greenyellow;
    border: 3px dashed rgb(243, 158, 22);
}

button:hover {
    background-color: orange;
    border: 3px solid rgba(0, 0, 0, 0.548);
}

@media print {
    .screen-only {
        display: none;
    }
}

@media (min-width: 700px) {
    body {
        background-color: rgb(191, 224, 245);
    }

    #top::before {
        content: "This is the top of my web page.";
    }
}

@media (max-width: 699px) {
    body {
        background-color: rgb(192, 164, 173);
    }

    #top::before {
        content: "This is the top"
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    background-color: rgb(122, 221, 172);
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.grid {
    background-color: thistle;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 150px 150px auto;
}

.grid-item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}